@if (Channels != null)
{
    <div class="mb-1">
        <div class="input-group">
            <input class="form-control" @oninput="FilterChannels" />
            <div class="btn-group m-1">
                <button class="btn btn-sm btn-primary" @onclick="()=>ScrollToFiltred(-1)" disabled="@FilterButtonDisabled()">
                    <i class="bi bi-arrow-bar-left"></i>
                </button>
                <button class="btn btn-sm btn-primary" @onclick="()=>ScrollToFiltred(1)" disabled="@FilterButtonDisabled()">
                    <i class="bi bi-arrow-bar-right"></i>
                </button>
                @if (selectedChannel != null)
                {
                    <button class="btn btn-sm btn-danger" @onclick="RemoveFromFavorites"><i class="bi bi-star"></i></button>
                }
            </div>
        </div>
    </div>
    <select id="channels-container" class="card-body list-group" style="border:0;outline:none" multiple>
        @foreach (var channel in Channels)
        {
            <option id="@channel.Name" class="list-group-item @(filtredChannels.Contains(channel)?"bg-success":"")"
            @ondblclick="()=>PlayChannel(channel)" @onclick="()=>SelectChannel(channel)" style="line-height:1em">
                @channel.Name
            </option>
        }
    </select>

    @for (int i = 0; i < 100; i++)
    {
        <div class="indicator hiden"></div>
    }

}
