@if (Channels != null)
{
    <div class="mb-1">
        <div class="input-group">
            <input class="form-control" placeholder="search channels" @oninput="FilterChannels" />
            <div class="btn-group m-1">
                <button class="btn btn-sm btn-primary" @onclick="()=>ScrollToFiltred(-1)" disabled="@FilterButtonDisabled()">
                    <i class="bi bi-arrow-bar-left"></i>
                </button>
                <button class="btn btn-sm btn-primary" @onclick="()=>ScrollToFiltred(1)" disabled="@FilterButtonDisabled()">
                    <i class="bi bi-arrow-bar-right"></i>
                </button>
                @if (selectedChannel != null)
                {
                    <button class="btn btn-sm btn-danger" @onclick="RemoveChannels"><i class="bi bi-trash"></i></button>
                    <button class="btn btn-sm btn-primary" @onclick="PlayOnVlc"><i class="bi bi-play"></i></button>
                    if (IsChannelInFavorite())
                    {
                        <button class="btn btn-sm btn-danger" @onclick="RemoveFromFavorites"><i class="bi bi-star"></i></button>
                    }
                    else
                    {
                        <button id="loadmorebtn" class="btn btn-sm btn-primary" @onclick="AddToFavorites"><i class="bi bi-star"></i></button>
                    }
                }
            </div>
        </div>
    </div>
    <select id="channels-container" class="select-channels" style="height:100%" @oninput="OnSelectchannelsInput" multiple>
        @for (int i = 0; i < channelsToShow; i++)
        {
            var channel = Channels[i];
            <option id="@channel.Name" class="@OptionClass(channel)">
                @channel.Name
            </option>
        }
    </select>
    @if (channelsToShow < Channels.Count() - 1)
    {
        <button class="btn btn-outline-dark" @onclick="LoadMore">Load more</button>
    }

    @for (int i = 0; i < 100; i++)
    {
        <div class="indicator hiden"></div>
    }

}
